@page
@model IndexModel

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

<div class="content">
    <h2>Spiderman's Followers Across the Web</h2>
    <div class="project-container">
        @foreach (var profile in Model.SocialMediaProfiles)
        {
            <div class="project">
                <img src="@profile.ImageUrl" alt="@profile.Platform" />
                <a href="@profile.Url" class="project-link">
                    <i class="fa @profile.IconClass" aria-hidden="true"></i>
                    <span>@profile.FollowerCount</span>
                </a>
            </div>
        }
    </div>
</div>